<div class="jumbotron" style="background-color: #28a4c9">
    <div class="container text-center">
        <h1>Vote Center</h1>
        <h4>Hey! welcome back, what would you like to do today?</h4><br>
        <p>
            <a class="btn btn-default btn-lg" style="background-color: #3e8f3e" href="http://localhost:3000/users/dashboard" role="button">New Poll</a>
            <a class="btn btn-default btn-lg" style="background-color: #843534" href="http://localhost:3000/users/allpolls" role="button">My Polls</a>
        </p>
    </div>
</div>