<!DOCTYPE html>
<html lang="en">

<% var title = 'VoteCenter - All polls' %>
<% include ../partials/Head %>

<body>
<% var usernm = username %>
<% include ../partials/innerNav %>

<% include ../partials/innerJumbotron %>

<% include ../partials/footer %>

</body>
</html>