<!DOCTYPE html>
<html lang="en">

<% var title = 'VoteCenter - Get opinions instantly' %>
<% include ../partials/Head %>

<body>
<% var indexTab = "active"%>
<% var loginTab = ""%>
<% var signupTab = ""%>
<% include ../partials/outerNav %>

<% include ../partials/outerJumbotron %>

<div class="container-fluid gridMargin">
  <!-- Example row of columns -->
  <div class="row text-center">
    <div class="col-md-4">
      <img src="images/live.png" alt="Live">
      <h2>Live results</h2>
      <p>Get interactive, instant results of your polls in the form of Pie charts. It gets updated the very moment when someone answers your polls. This way you get the latest results.</p>
    </div>
    <div class="col-md-4">
      <img src="images/world.bmp" alt="World">
      <h2>Anywhere Everywhere</h2>
      <p>Build to be responsive, you can access your polls from anywhere and from any device. You get the same experience no matter where you are and which device you are using.</p>
    </div>
    <div class="col-md-4">
      <img src="images/social.jpg" alt="Social">
      <h2>Social Integration</h2>
      <p>Share your polls with your friends and followers to get their views. VoteCenter allows you to seamlessly connect using you favourite social networking platform.</p>
    </div>
  </div>
</div>
<br>

<% include ../partials/footer %>

</body>
</html>