<!DOCTYPE html>
<html lang="en">

<% var title = 'VoteCenter - Dashboard' %>
<% include ../partials/Head %>
<body>
<% var usernm = username %>
<% include ../partials/innerNav %>

<% include ../partials/innerJumbotron %>

<div class="container-fluid">
    <!-- Example row of columns -->
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <form id="qForm" action="/users/link" method="post">
                <h2>New Poll</h2><br>
                <div class="text-left">
                    <label>Name your poll</label>
                </div>
                <input name="question" type="text" id="inputQuestion" class="form-control" placeholder="Which is your favourite Table Tennis player?" required autofocus><br>
                <div class="text-left">
                    <label>Options</label>
                </div>
                <input name="optionName1" type="text" id="inputOption1" class="form-control" placeholder="Ma Long" required>
                <input name="optionName2" type="text" id="inputOption2" class="form-control" placeholder="Xu Xin" required><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>

<% include ../partials/footer %>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
<script>
    $('document').ready(function(){

        /*$("#qForm").on('submit', function(){
            var pattern = /^[a-z0-9\-\s]+$/i;
            return pattern.test($('question').val());
        });*/

        $.validator.addMethod("questionRegex", function(value, element) {
            return this.optional(element) || /^[a-z0-9\-\s]+$/i.test(value);
        }, "Question must contain only letters and numbers");

        $("#qForm").validate({
            rules: {
                "question": {
                    required: true,
                    questionRegex: true,
                }
            },
            messages: {
                "question": {
                    required: "You must enter a question",
                    questionRegex: "Question format not valid"
                }
            }
        });
    })
</script>
</body>
</html>