<!DOCTYPE html>
<html lang="en">

<% var title = 'VoteCenter - Sign up' %>
<% include ../partials/Head %>

<body>

<% var indexTab = ""%>
<% var loginTab = ""%>
<% var signupTab = "active"%>
<% include ../partials/outerNav %>

<% include ../partials/outerJumbotron %>

<div class="container-fluid">
    <!-- Example row of columns -->
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

            <h2 >New to VoteCenter? Sign up!</h2><br>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <br>
          <!--  <form action="/users/signup" method="post">
                <input placeholder="username" type="text" name="username">
                <input placeholder="email" type="email" name="email">
                <input placeholder="password" type="password" name="password">
                <input type="submit" value="Signup">
            </form>-->
            <form action="/users/signup" method="post" >
                <label for="inputName" class="sr-only">Name</label>
                <input name="username" type="text" id="inputName" class="form-control" placeholder="Username" required autofocus><br>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email"><br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <br>
                <div class="text-left">
                    <button class="btn btn-primary btn-block" type="submit">Sign up</button>

                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>

<% include ../partials/footer %>

</body>
</html>